VimL: " $Id: vim-autoload-function.template 463 2011-08-23 17:40:38Z luc.hermitte@gmail.com $
VimL: "«Vim» autoload functions Template File, Luc Hermitte
VimL: "
VimL: " Obtain the autoload plugin full name
VimL: let s:relpathname = lh#path#strip_start(expand('%:p:r'), &rtp)
VimL: let s:relpathname = matchstr(s:relpathname, '^\=autoload.\zs.*')
VimL: let s:function_prefix = substitute(s:relpathname, '[/\\]', '#', 'g') . '#'
