VimL:" $Id: switch.template 302 2010-12-09 23:34:20Z luc.hermitte $
VimL:"{switch} Template-File, Luc Hermitte
VimL: let s:value_start  = '¡'
VimL: let s:value_end    = '¡'
VimL: let s:reindent     = 1 
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
switch¡C_nl_before_bracket()¡(<+expr+>)¡C_nl_before_curlyB()¡{
    case <+case+>:
	<+code1+>
	break;
    default:
	<+default-code+>
	break;
}<++>
