VimL: " $Id: cpptu-header.template 269 2010-12-01 00:31:25Z luc.hermitte $
VimL: "C++ CXXTest File-Template, Luc Hermitte
VimL: let s:TUName = expand('%:t:r')
#include <cxxtest/TestSuite.h>

class ¡s:TUName¡ : public CxxTest::TestSuite
{
public:
    void test_<+fct+>();
};

