VimL:" $Id: sh.template 498 2011-12-21 18:20:53Z luc.hermitte@gmail.com $
VimL:" «sh» File Template, Luc Hermitte, 02nd Jan 2011
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
#!<+system('which bash')+>
<++>
